@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'ubuntu' , sans-serif;
}
html{
    scroll-behavior: smooth;
}
.max-width{
    max-width: 1300px;
    padding: 0px;
    margin: auto;
}


/* navbar Styleing */

.navbar{
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 30px 0;
}

.navbar.sticky{
    padding: 30px 0;
    background: rgba(0, 0, 0, 0.6);
}

.navbar .max-width{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}

.navbar .menu li a:hover{
    color: #21b8fc;
}

/* menu btn styleing  */

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background:#21b8fc;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 999;
    font-size: 30px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;

}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
/* homepage styleing  */

.home{
    box-sizing: border-box;
}

.home{
    background: url("images/headBanner.jpg");
    height: 100vh;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative;
    color: #fff;
}

.home .max-width .home-content{
    position: absolute;
    left: 8%;
    top: 40%;
}

.home .max-width .home-content .text1{
    font-size: 27px;
}

.home .max-width .home-content .text2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .max-width .home-content .text3{
    font-size: 40px;
    margin: 5px 0;
}

.home .max-width .home-content .text3 span{
    font-weight: 500;
    color: crimson;
}

/* About Me styleing  */

.about{
    padding: 120px 0;
    color: #fff;
    background: #001219;
}

.about .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.about .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #fff;
    transform: translateX(-50%);
}

.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.about .about-content .left{
    width: 45%;
}

.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 5px;
}

.about .about-content .right{
    width: 55%;
}

.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span{
    color: crimson;
}

.about .about-content .right p{
    text-align: justify;
    line-height: 1.5em;
}

.about .about-content .right a{
    display: inline-block;
    background: #fff;
    color: #001219;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid #fff;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover{
   color: #fff; 
   background: none;
}

/* Gallery styleing  */

.gallery{
    padding: 100px 0;
    color: #fff;
    background: #001219;
}

.gallery .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.gallery .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #fff;
    transform: translateX(-50%);
}

.gallery .container{
    padding: 70px 0;
    width: 100%;
    max-width: 120rem;
    margin: auto;
    
}
.gallery .container .index-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    grid-template-areas:
    "img1 img2 img3 img4"
    "img5 img6 img7 img8";
    
}

.gallery .container .index-gallery .gallery-image{
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.gallery .container .index-gallery .img1{
    grid-area: img1;
    background-image: url("images/thumbs/img1.jpg");
}

.gallery .container .index-gallery .img2{
    grid-area: img2;
    background-image: url("images/thumbs/img2.jpg");
}

.gallery .container .index-gallery .img3{
    grid-area: img3;
    background-image: url("images/thumbs/img3.jpg");
}

.gallery .container .index-gallery .img4{
    grid-area: img4;
    background-image: url("images/thumbs/img4.jpg");
}

.gallery .container .index-gallery .img5{
    grid-area: img5;
    background-image: url("images/thumbs/img5.jpg");
}

.gallery .container .index-gallery .img6{
    grid-area: img6;
    background-image: url("images/thumbs/img6.jpg");
}

.gallery .container .index-gallery .img7{
    grid-area: img7;
    background-image: url("images/thumbs/img7.jpg");
}

.gallery .container .index-gallery .img8{
    grid-area: img8;
    background-image: url("images/thumbs/img8.jpg");
}

.gallery .container .index-gallery .gallery-image div{
    width: 100%;
    height: 100%;
    background-color: #111;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery .container .index-gallery .gallery-image a{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.gallery .container .index-gallery .gallery-image div:hover{
    opacity: 0.7;
    transition: all ease-in-out 100ms;
}

.img-window{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.img-window img{
   max-height: 80vh; 
   max-width: 80vw;
}

.img-btn-next{
    display: block;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: #111;
    position: fixed;
    top: 48vh;
    z-index: 500;
    color: #fff;
    cursor: pointer;
}

.img-btn-next:hover{
    opacity: 0.8;
}

.img-btn-prev{
    display: block;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: #111;
    position: fixed;
    top: 48vh;
    z-index: 500;
    color: #fff;
    cursor: pointer;
}

.img-btn-prev:hover{
    opacity: 0.8;
}

/* showreel stylizing  */

.showreel{
    padding: 100px 0;
    color: #fff;
    background: #001219;
}

.showreel .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.showreel .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #fff;
    transform: translateX(-50%);
}

.showreel .reel{
    padding: 50px;
}


.contact{
    background: #001219;
    color: #fff;
}

iframe{
    display: block;
    margin: 1em auto;
    width: 80%;
    height: calc(.5625 * 80vw);
}

.contact .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.contact .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 250px;
    height: 3px;
    background: #fff;
    transform: translateX(-50%);
}

.contact .contact-content{
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.contact .contact-content .column{
    width: calc(50% - 30px);

}
.contact .contact-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    color: #fff;
    font-size: 25px;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #fff;
}

.contact .right .fields{
    margin-top: 10px;
}
.contact  .right .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area{
  display: flex;
  align-items: center;
}
.right form .button-area button{
  color: #001219;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: #fff;
  border: 2px solid #fff;
  transition: all 0.3s ease;
}
.right form .button-area button:hover{
  color: #fff;
  background: none;
}

#status{
    color: #111;
    text-align: center;
    margin-top: 50px;
    width: 90%;
    max-width: 500px;
    border-radius: 8px;
            
}

#status.success{
    background-color: rgb(211,250,153);
    animation: status 4s ease forwards ;
}

#status.error{
    color: #fff;
    background-color: rgb(255, 30, 75);
    animation: status 4s ease forwards ;
}

@keyframes status{
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}

/* loader styleing */

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }

/* responsive Media  */

@media (max-width: 1300px){
    .home .max-width{
        margin-left: 0px;
    }
}

/* @media (max-width: 1000px){
    .max-width{
        padding: 0 50px;
    }
} */

@media (max-width: 1000px){
    .max-width{
        padding: 0 50px;
    }
    
    
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }

    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .home .home-content .text2{
        font-size: 60px;
    }
    .home .home-content .text3{
        font-size: 25px;
    }

    .about .about-content .column{
        width: 100%;
    }

    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .about .about-content .left img{
        height: 300px;
        width: 300px;
    }

    .about .about-content .right .text{
        font-size: 25px;
        margin-bottom: 50px;
    }

    .about .about-content .right .text span{
        width: 100%;
    }

    .gallery .container .index-gallery{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
    "img1 "
    "img2"
    "img3"
    "img4"
    "img5"
    "img6"
    "img7"
    "img8";
    }

    .contact .contact-content .column{
        width: 100%;
    }
    

}

@media (max-width: 400px){
    .max-width{
        padding: 0 20px;
    }

    .home .max-width .home-content .text2{
        font-size: 50px;
    }
    .home .max-width .home-content .text3{
        font-size: 30px;
    }

    .about .about-content .right .text{
        font-size: 20px;
    }

    .about .about-content .right p{
        font-size: 15px;
    }
    
}